$primary-color: hsl(158, 36%, 37%);
$background-color: hsl(30, 38%, 92%);

$secondary-color: hsl(212, 21%, 14%);
$base-color: hsl(228, 12%, 48%);
$neutral-color: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  display: block;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: min(90%, 23rem);
  border-radius: 10px;
  overflow: hidden;
  background-color: $neutral-color;

  .container {
    width: 90%;
    margin-inline: auto;
  }

  .product--type {
    text-transform: uppercase;
    color: $base-color;
    margin-top: 1.5rem;
    font-size: 0.75rem;
  }

  .product--name {
    font-family: "Fraunces", serif;
    color: $secondary-color;
  }
  .product--description {
    color: $base-color;
  }

  .product--price {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .product--discount-price {
    font-family: "Fraunces", serif;
    color: $primary-color;
    font-size: 2.2rem;
    margin: 1rem 0;
  }

  .product--original-price {
    color: $base-color;
    text-decoration: line-through;
  }

  .product--cart-btn {
    background-color: $primary-color;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    padding: 1em 0;
    width: 100%;
    cursor: pointer;

    .cart-icon {
      width: 15px;
      display: inline;
    }

    a {
      color: $neutral-color;
      text-decoration: none;
    }
  }

  .product--cart-btn:hover {
    background-color: darken($primary-color, 15%);
  }
}

.attribution {
  text-align: center;
  color: $base-color;
  font-size: 0.75rem;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    color: $secondary-color;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 750px) {
  .card {
    width: 40rem;
    max-width: 90%;
    display: flex;

    > * {
      flex-basis: 50%;
    }

    .container {
      width: 80%;
      margin-inline: auto;
    }
    .product--cart-btn {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}
